<!-- 薪酬账套列表 -->
<div ng-controller="PayGroupCtrl">

    <div ng-repeat="group in groups" class="panel paygroup-panel clearfix">
        <div class="pull-left">
            <h4>{{group.name}}</h4>
            <span>人数：{{group.employeeCount}}</span>
            <span>薪酬项目：{{group.itemsCount}}</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-info" href="#/paygroup/{{group.id}}}/items">薪酬项目</a>
            <a class="btn btn-info" href="#/paygroup/{{group.id}}}/employee">适用员工</a>
        </div>
    </div>

</div>